/* not much to say here, you can play around on sites like https://cssbattle.dev/ if you wanna practice */

h1 {
    text-align: center;

}

#appraiser_table {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
}


.title {
    background-color: rgb(50, 67, 115);
    height: 120px;
    display: inline-flex;
    width: 100%;
}

#logo {
    margin: 10px;
}

#title_text {
    color: whitesmoke;
    text-shadow: 2px 2px 8px #393535;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    margin-left: 23%;
}


#main_table {
    border-color: rgb(175, 173, 173);
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #dddddd;
    margin-right: 20%;
    margin-bottom: 1%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5%;

}



#titlerow {
    font-size: 20px;
    font-weight: bold;
    border: 1px;
    border: 1px solid #dddddd;
    color: rgb(50, 67, 115);
    border-radius: 5%;
}


td {

    border: 2px solid rgb(50, 67, 115);

    text-align: left;

    padding: 8px;
    border-radius: 5px;

}




tr:nth-child(even) {

    background-color: #dddddd;



}

#info_row_table {
    font-family: Arial, Helvetica, sans-serif;
}


#info_row_tr {
    border: 0px;
    background-color: white;
}

#info_row_td {
    border: 0px;
    background-color: white;
}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: rgb(50, 67, 115);
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#footerheading {
    padding: 2px 2px 2px 2px;
    margin: 0px 0px 0px 0px;
}